body {
    width: 100%;
	background-color: #fbfdfd;
}

a {
    text-decoration: none;
    color: #2d2c2c;
}

a:visited{
    text-decoration: none;
}


a:hover {
    position: relative;
    color: #333333;
}




.image-upload{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 6%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;

    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.rectangle{
    width: 170px;
    height: 100px;
}

.tall-rectangle{
    width: 100px;
    height: 125px;
}

.square {
    width: 100px;
    height: 100px;
}
 
.drop-box.dragover {
    border: 5px dashed blue;
}
 
.drop-box.dragover-err {
    border: 5px dashed red;
}

.main-image-preview {
    width: 50%;
    margin-left: 8%;
    margin-top: 20px;
}


/* finnes dette noe sted?? */
.uploaded-image {
    max-height: 500px;
    width: auto;
}
 
.ng-crop-container-tall-rectangle {
    width: 450px;
    height: 375px;
}

.ng-crop-container-rectangle {
    margin-top: 50px; /*Legger denne til ellers så vil save knappen havne under den øvre containeren. Super quick-fix*/
    width: 750px;
    height: 300px;
}

.ng-crop-container-square {
    width: 375px;
    height: 375px;
}
    
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:100%;
}


/*Modal*/
#modal{
    z-index: 2000;
    border:4px solid #CCC;
    background-color: red;
    width:1000px;
    height:500px;
    display:none;
    position:absolute;
    font-size: 100px;
    left:50%; 
    top:50%;
    margin:-25px 0 0 -50px;
    border-radius:5px;
}

.click {
    z-index: 1000;
}

/*Post headers and content*/

textarea {
    resize: initial;
    height: auto;
}

.post-wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}

.post{   
    margin-bottom: 50px;
}



.post-header-pre {
    z-index: 500;
    position: relative;
    font-size: 50px;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    text-align: left; /*Lag knapper for alle typene*/
    text-decoration: none;
    color: #d75c48;
    background: #f8f8f8;
    outline: 0px !important;   /*bootsrap default*/
    -webkit-appearance: none;  /*bootsrap default*/
    border: none;
    height: 105px;
    margin-left: 8%;
    margin-bottom: 50px;
}

.description-pre {
    font-family: 'GothamLight';
    font-size: 12px;
    width: 600px;
    background: #f8f8f8;
    outline: 0px !important;   /*bootsrap default*/
    -webkit-appearance: none;  /*bootsrap default*/
    border: none;
    padding: 10px 10px 10px 10px;
    margin-left: 8%;
}

.add-btn {
    margin-left: 25%;
    margin-top: 50px;
}

.cms {
    float: right;
}

.modal{
    owerflow: hidden;
}


.settings-modal {
    background-color: #fff;
    width: 100%;
    height: 150px;
    padding: 20px 20px 30px 20px;
}

.modal-backdrop {
    display: none;
}

.menu {
    position: relative;
    font-family: 'Gotham-Bold';
    padding: 0px 20px 0px 20px;
    margin-top: 50px;
    width: 100%;
    margin-left: 10%;
}

.menu-sub-view {
    font-family: 'Gotham-Bold';
}

.menu-nav{
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.menu-nav-sub {
    margin-left: 20%;
    font-size: 12px;
    line-height: 18px;
}

.nettbutikk {
    position: absolute;
    margin-top: -10px;
    margin-left: -76px;
}
.kontakt{
    position: absolute;
    margin-top: 20px;
    margin-left: -16px;
}
.om {
    position: absolute;
    margin-top: 50px;
    margin-left: 14px;
}


.houseoffam-line {
    position: relative;
    background: #2d2c2c;
    width: 150px;
    height: 2.5px;
    margin-bottom: 8px;
    -ms-transform: rotate(66deg); /* IE 9 */
    -webkit-transform: rotate(66deg); /* Chrome, Safari, Opera */
    transform: rotate(66deg);

}

.menu-nav-hover:hover:after {
    text-decoration: none;
    content: url(/arrow.png);
    display: block;
    position: absolute;
    left: -50px; 
    top: 1px; 
}



.houseoffam-logo {
    text-align: right;
    font-size: 30px;
    letter-spacing: 2px;
    width: 120px;
    display: inline-block;
    margin-left: 88px;
    margin-top: -80px;
}

.houseoffam-logo-mobile {
    visibility: hidden;
}

.houseoffam-logo-sub {
    font-family: 'Gotham-Bold';
    font-size: 25px;
    margin-right: 20%;
    float: right;
    margin-top: -50px;
}

.post-header {
    z-index: 500;
    position: relative;
    font-size: 50px;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    text-align: left; /*Lag knapper for alle typene*/
    text-decoration: none;
    margin-left: 8px;
}


.main-image {
    max-width: 100%;
    margin: 0px 10px 0px 10px;    
}



.description {
    font-family: 'GothamLight';
    font-size: 12px;
    width: 375px;
    text-align: right;
    letter-spacing: 0.4px;
    outline: 0px !important;   /*bootsrap default*/
    -webkit-appearance: none;  /*bootsrap default*/
    border: none;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.article-text {
    width: 50%;
    margin: auto 0;
}

.header-detail-view {
    font-family: 'Gotham-Bold';
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 70px;
    margin-bottom: 30px;
    max-width: 100%;

}

.image-detail-view{
    margin-top: 20px;
}

.image-detail-view-2{

    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.image-detail {
    max-width: 90%;

}

.description-details {
    font-family: 'GothamMedium';
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 20px;
    margin-left: 10px;
}

.article-description{
    position: relative;
    display: block;
    font-family: 'GothamLight';
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

#map {
    width: 100%;
    height: 500px;
}


@media screen and (max-width : 720px) { 

.menu {
    position: relative;
    width: 100%;
}


.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nettbutikk{
    position: relative;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 7px 10px 7px 10px;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 0px;
}
.kontakt{
    position: relative;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 7px 15px 7px 15px;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 10px;
}
.om{
    position: relative;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 7px 20px 7px 20px;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 20px;
}

/*Må skirve alt om igjrn her for mobile view til details view */

.menu-nav-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nettbutikk-sub{
    position: relative;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 7px 10px 7px 10px;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 0px;
}
.kontakt-sub{
    position: relative;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 7px 15px 7px 15px;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 10px;
}
.om-sub{
    position: relative;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 7px 20px 7px 20px;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 20px;
}

.houseoffam-line {
    display: none;
}

.menu-nav-hover:hover:after {
    text-decoration: none;

}

.houseoffam-logo {
    display: none;
}

.houseoffam-logo-sub {
    display: none;
}

.houseoffam-logo-mobile {
    visibility: visible;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.menu-nav-hover:hover:after {
    text-decoration: none;
    content: none;
    background: #d4d4d4;
}

.post-header{
    font-size: 60px !important;
    top: 35px !important;
    left: 0px !important;
    text-align: center !important;
}

.header-detail-view{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.description-details{
    font-size: 16px;
}


}