body {
    width: 100%;
	background-color: #fbfdfd;
}

.image-upload{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 6%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;

    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.rectangle{
    width: 170px;
    height: 100px;
}

.tall-rectangle{
    width: 100px;
    height: 125px;
}

.square {
    width: 100px;
    height: 100px;
}
 
.drop-box.dragover {
    border: 5px dashed blue;
}
 
.drop-box.dragover-err {
    border: 5px dashed red;
}

.main-image-preview {
    margin-left: 8%;
    margin-top: 20px;
}


/* finnes dette noe sted?? */
.uploaded-image {
    max-height: 500px;
    width: auto;
}
 
.ng-crop-container-tall-rectangle {
    width: 450px;
    height: 375px;
}

.ng-crop-container-rectangle {
    margin-top: 50px; /*Legger denne til ellers så vil save knappen havne under den øvre containeren. Super quick-fix*/
    width: 750px;
    height: 300px;
}

.ng-crop-container-square {
    width: 375px;
    height: 375px;
}
    
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:100%;
}


/*Modal*/
#modal{
    z-index: 2000;
    border:4px solid #CCC;
    background-color: red;
    width:1000px;
    height:500px;
    display:none;
    position:absolute;
    font-size: 100px;
    left:50%; 
    top:50%;
    margin:-25px 0 0 -50px;
    border-radius:5px;
}

.click {
    z-index: 1000;
}

/*Post headers and content*/

textarea {
    resize: initial;
    height: auto;
}

.post-wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}

.post{   
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #2d2c2c;
}

a:visited{
    text-decoration: none;
}

a:hover{

    border-bottom: 3px solid #2d2c2c;
}

.post-header-pre {
    z-index: 500;
    position: relative;
    font-size: 50px;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    text-align: left; /*Lag knapper for alle typene*/
    text-decoration: none;
    color: #d75c48;
    background: #f8f8f8;
    outline: 0px !important;   /*bootsrap default*/
    -webkit-appearance: none;  /*bootsrap default*/
    border: none;
    height: 105px;
    margin-left: 8%;
    margin-bottom: 50px;
}

.description-pre {
    font-family: 'GothamLight';
    font-size: 12px;
    width: 600px;
    background: #f8f8f8;
    outline: 0px !important;   /*bootsrap default*/
    -webkit-appearance: none;  /*bootsrap default*/
    border: none;
    padding: 10px 10px 10px 10px;
    margin-left: 8%;
}

.add-btn {
    margin-left: 25%;
    margin-top: 50px;
}

.cms {
    float: right;
}

.modal{
    owerflow: hidden;
}


.settings-modal {
    background-color: #fff;
    width: 100%;
    height: 150px;
    padding: 20px 20px 30px 20px;
}

.modal-backdrop {
    display: none;
}

.menu {
    position: relative;
    font-family: 'Gotham-Bold';
    padding: 0px 20px 0px 20px;
    margin-top: 100px;
    width: 100%;
    margin-left: 10%;
}

.menu-sub-view {
    width: 80%;
}

.menu-nav{
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.menu-nav-sub {
    font-family: 'Gotham-Bold';
    font-size: 12px;
    line-height: 18px;
}

.nettbutikk {
    position: absolute;
    margin-top: -10px;
    margin-left: -76px;
}
.kontakt{
    position: absolute;
    margin-top: 20px;
    margin-left: -16px;
}
.om {
    position: absolute;
    margin-top: 50px;
    margin-left: 14px;
}

.nettbutikk-sub {
    position: static;
}
.kontakt-sub {
    position: static;
}
.om-sub {
    position: static;
}



.houseoffam-line {
    position: relative;
    background: #2d2c2c;
    width: 150px;
    height: 2.5px;
    margin-bottom: 8px;
    -ms-transform: rotate(66deg); /* IE 9 */
    -webkit-transform: rotate(66deg); /* Chrome, Safari, Opera */
    transform: rotate(66deg);

}

.glitch {
  display:inline-block;
  cursor: pointer;
}
.glitch:hover{
  animation: noise-3 1s linear infinite;
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(1.5);}
  43% {opacity: 1; transform: scaleX(10); 
    transform: scaleY(.1); 
    rotate: 60deg;
    }
}

.houseoffam-logo {
    text-align: right;
    font-size: 30px;
    letter-spacing: 2px;
    width: 120px;
    display: inline-block;
    margin-left: 88px;
    margin-top: -80px;
}

.houseoffam-logo-sub {
    font-family: 'Gotham-Bold';
    font-size: 25px;
    float: right;
    margin-top: -50px;
}

.post-header {
    z-index: 500;
    position: relative;
    font-size: 50px;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    text-align: left; /*Lag knapper for alle typene*/
    text-decoration: none;
    margin-left: 8px;
}

.main-image {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    margin: 0px 10px 0px 10px;    
}
.description {
    font-family: 'GothamLight';
    font-size: 12px;
    width: 375px;
    text-align: right;
    letter-spacing: 0.4px;
    outline: 0px !important;   /*bootsrap default*/
    -webkit-appearance: none;  /*bootsrap default*/
    border: none;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.article-text {
    width: 75%;
}

@media screen and (max-width : 720px) { 

.post-header {

}


}