<div class="post">

	<label>Is public</label>
	<input type="checkbox" ng-model="party.public">
	

	<input class="header-detail-view" 
	ng-style="{
	'color' : party.style.header.color
}" ng-model="party.name" id="nameInput" type="text">


	<textarea ng-model="party.description" class="article-text">  </textarea>
	
	<div ng-repeat="image in images" class="image-detail-view">
		

      <img class="image-detail" ng-src="{{image}}" />


	<textarea type="text" class="article-description" ng-model="party.image.articleDescription"> </textarea>

      <!-- <a href="#" editable-text="image.articleDescription" onbeforesave="updateDescription($data, image)" class="article-description-edit">{{ image.articleDescription || 'Click here to add text' }}</a> -->


    </div>




</div>	



