<div class="settings-modal">
  <br>
  <label>PUBLIC</label>
  <label class="is-public">
    <input type="checkbox" ng-model="currentParty.public">
    <span> </span>
  </label>
  <div class="cms">
    Top: <input ng-model="currentParty.style.header.top" id="top" type="text" placeholder="50">
  </div>
  <div class="cms">
    Left: <input ng-model="currentParty.style.header.left" id="left" type="text" placeholder="0">
  </div>
  <div class="cms">
    Width: <input ng-model="currentParty.style.header.width" id="width" type="text" placeholder="400">
  </div>
  <div class="cms">
    Font-size: <input ng-model="currentParty.style.header.fontSize" id="fontSize" type="text" placeholder="50">
  </div>
  <div class="cms color-button">
    Color: <select ng-model="currentParty.style.header.color" id="color" type="text"> 
      <option value="#d7548">Orange</option>
      <option selected="selected" value="#2d2c2c">Black</option>
      <option value="#5b5b5b">Grey</option>
      <option value="#529493">Green</option>
      <option value="#fbfdfd">White</option>
    </select>
  </div>
  
  <div class="cms color-button">
    Font-shadow: <select ng-model="currentParty.style.header.textShadow" id="shadow" type="text">
      <option value="none">None</option>
      <option value="3px 3px #2e312e">Black</option>
    </select>
  </div>

  <div class="cms">
    Text-align: <select ng-model="currentParty.style.header.textAlign" id="color" type="text"> 
      <option value="left"> Left </option>
      <option value="center" selected="selected"> Center </option>
      <option value="right"> Right </option>
    </select>
  </div>
</div>
