<div class="menu-sub-view">
    <div class="houseoffam-logo-mobile">
      <a href="/admin" class="menu-nav-hover"> HOUSE OF FAM</a>
    </div>
    <div class="menu-nav-sub-wrapper">
      <div class="menu-nav-sub nettbutikk-sub">
        <a href="http://fam-irvoll.myshopify.com/collections/frontpage" class="menu-nav-hover"> NETTBUTIKK </a>
      </div>
      <div class="menu-nav-sub kontakt-sub">
        <a href="/kontakt">
          KONTAKT
        </a>
      </div>
      <div class="menu-nav-sub om-sub">
        OM
      </div>
    </div>

    <div class="houseoffam-logo-sub">
      <a href="/admin">
        HOUSE OF FAM
      </a>
    </div>
  </div>

<div class="post">

  <div class="update-post-button"> Oppdater her etter du har gjort endringer:</div>

  <div class="update-post-button">
    <button> Oppdater post </button>
  </div>

  <div class="is-public-details-view">Bruk public knappen i "settings" intil videre. <br>

<!--     <label>Post is public: </label>
    <input type="checkbox" ng-model="party.public" ng-blur="save()"> -->

<!--     <label>PUBLIC</label>
  <label class="is-public">
    <input type="checkbox" ng-model="party.public">
    <span> </span>
  </label> -->


  </div>

	<textarea style="overflow: visible" class="header-detail-view header-edit" ng-model="party.name" id="nameInput" type="text" ng-blur="save()"> </textarea>


	<textarea style="overflow: visible" ng-model="party.description" class="article-text" ng-blur="save()">  </textarea>

	<div class="article-description" text-angular ng-model="party.editorcontent" ta-toolbar="[['bold','italics'], ['insertLink']]" ng-blur="save()"> </div>

  <div class="post-youtube-wrapper">
    <p> Legg inn Youtube link her. Videoen vil vises inne i bloggposten fra hovedsiden.</p>
    <input
      type="text"
      class="youtube-link"
      placeholder="YouTube link"
      ng-model="enteredYoutubeLink"
      ng-change="saveYoutubeLink()">
    <div class="update-post-button">
      <button ng-click="removeYoutubeLink()">Fern youtube link</button>
    </div>
    <p><strong>Youtube film som er lagt til: </strong> {{party.youtubeLink}}</p>
  </div>

  <!-- <div infinite-scroll="addMoreItems()" infinite-scroll-disabled="isLoadingItems" infinite-scroll-distance="1"> -->
  	<div ng-repeat="image in images" class="image-detail-view">

  		<div class="image-detail-view-2">
	      <img class="image-detail" ng-src="{{ getImageUrlOf(image) }}"/>
<!--         <p>the url of the image: {{image}} {{ getImageUrlOf(image) }}</p>
 -->	    </div>

	      <!-- <a href="#" editable-text="image.articleDescription" onbeforesave="updateDescription($data, image)" class="article-description-edit">{{ image.articleDescription || 'Click here to add text' }}</a> -->
    </div>
  <!-- </div> -->

  <div class="spinner" style="text-align:center; margin: 40px 0px;" ng-show="isLoadingItems">
    <img ng-src="/spinner.gif" style="width: 32px">
  </div>

</div>



