<div class="details-view-wrapper">

  <div class="menu-sub-view">
    <div class="houseoffam-logo-mobile">
      <a href="/" class="menu-nav-hover"> HOUSE OF FAM</a>
    </div>
    <div class="menu-nav-sub-wrapper">
      <div class="menu-nav-sub nettbutikk-sub">
        <a href="http://fam-irvoll.myshopify.com/collections/frontpage" class="menu-nav-hover"> NETTBUTIKK </a>
      </div>
      <div class="menu-nav-sub kontakt-sub">
        <a href="/kontakt" class="menu-nav-hover">
          KONTAKT
        </a>
      </div>
      <div class="menu-nav-sub om-sub">
        <a href="/om" class="menu-nav-hover">
        OM
        </a>
      </div>
    </div>

    <div class="houseoffam-logo-sub">
      <a href="/">
      HOUSE OF FAM
      </a>
    </div>
  </div>


  <div class="post">
    <h3 class="header-detail-view" ng-style="{
      'color' : party.style.header.color
    }">{{party.name}}</h3>
    <p class="description-details">{{party.description}}</p>
    <div class="image-detail-view-2">

        <div class="article-description">
          <div ta-bind="text" ng-model="party.editorcontent"></div>
          <!-- {{party.editorcontent }} -->
<!--           <span ng-bind-html="party.editorcontent | htmlToPlaintext"></span> -->
        </div>

      <div ng-repeat="image in images" class="image-detail-view">
        <img ng-src="{{image.url()}}"  class="image-detail"/>



      </div>
    </div>
  <!--   <div class="main-image">
      <img ng-src="{{mainImageUrl}}" alt="" />
    </div> -->
  </div>
</div>
